* {
	margin: 0;
	padding: 0;
}
#wrap {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#login-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contents {
	width: 1200px;
	min-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}
.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.todo-wrap {
	width: 50%;
}
.bottom{
	text-align: center;
}

.hidden{
	display: none;
}